body {
    outline: 1px solid red;
    margin: none;
    padding: none;
    box-sizing: border-box;
    max-width: 360px;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.75rem;
    text-align: center;
}

/* CONTAINERS */

#start-game {
    width: 90%;
    margin: 0 auto;
}

/* START-GAME */

#start-game {
    outline: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
#start-game button {
    padding: 1rem;
    border-radius: .25rem;
    border: none;
    margin: 1rem 0;
}

#start-game button:hover {
    cursor: pointer;
}