body {
    margin: none;
    padding: none;
    box-sizing: border-box;
    max-width: 360px;
    outline: 1px solid red;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.75rem;
    text-align: center;
}

/* CONTAINERS */

#start-game {
    width: 90%;
    margin: 0 auto;
}

/* START-GAME */

#start-game {
    display: flex;
    flex-direction: column;
}
#start-game button {

}